
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#56667A;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60%;
  }
  
  body{
    color: #2c1320;

  }

  h1 {
    text-align: center;
    font-size: 9rem;
  }

  #start-text{
    text-align: center;
    font-size: 2rem;
  }

  #start-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    font-size: 6rem;
  }

  .hidden {
    display: none;
  }
  
  .btn {
    padding: 1rem 0;
    width: 30rem;
    text-align: center;
    margin: 1.5rem ;
    color: #2c1320;
    background-color:#5F4B66 ;
    border: #2c1320;
    border-radius: 8px;
    text-decoration: none;
  }

  .btn:hover {
    cursor: pointer;
    box-shadow: 0 1rem .8rem;
    transition: .5s;
    transform: scale(1.2);
  }
